@{
    ViewBag.Title = "Đăng nhập";
}
@section additionalJs {
    <script src="~/Scripts/controllers/user-controller.js"></script>
}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Đăng nhập tài khoản</h1>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Login Box Area =================-->
<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="~/Content/img/singup.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Đăng nhập</h3>
                    @using (Ajax.BeginForm("Login", "Login", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "loginForm", OnSuccess = "fnLoginSuccess" }, new { @id = "loginForm" }))
                    {
                        @Html.Partial("LoginForm")
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->