@using ShoeShop.Models;
@model CartModel

<a href="/gio-hang" class="cart nav-link">
    <span class="fa fa-shopping-cart"></span>
    <div class="cart_item_count">@Model.ListCartItem.Count</div>
</a>
