@{
	ViewBag.Title = "Đơn hàng";
}

@section privateJS{
	<script src="~/Areas/Admin/Content/js/controllers/invoice-controller.js"></script>
}

<div class="main-content">
	<div class="section__content section__content--p30">
		<div class="container-fluid">
			<div class="table-data__tool">
				<div class="table-data__tool-left">
					<div class="rs-select2--light rs-select2--md">
						<select class="js-select2" name="property" id="propertySelect">
							<option value="1">Chưa thanh toán</option>
							<option value="2">Đã thanh toán</option>
							<option value="3">Tất cả</option>
						</select>
						<div class="dropDownSelect2"></div>
					</div>
					<div class="rs-select2--light rs-select2--sm">
						<select class="js-select2" name="time" id="timeSelect">
							<option value="1">Hôm nay</option>
							<option value="2">Tháng này</option>
							<option value="3" selected>Mọi lúc</option>
						</select>
						<div class="dropDownSelect2"></div>
					</div>
				</div>
				<div class="table-data__tool-right">
					
				</div>
			</div>
			<div class="table-responsive table--no-card m-b-30">
				<table class="table table-borderless table-striped table-earning">
					<thead>
						<tr>
							<th>ID</th>
							<th>Thời gian tạo</th>
							<th>Khách hàng</th>
							<th>Số điện thoại</th>
							<th>Trị giá</th>
							<th>Trạng thái</th>
                            <th></th>
						</tr>
					</thead>
					<tbody id="bodyListInvoice"></tbody>
				</table>
			</div>
		</div>
	</div>
</div>